[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
codecov = "*"
docutils = "*"
"flake8" = "*"
importlib-metadata = {version = "*", markers = "python_version < '3.8'"}
importlib-resources = {version = "*", markers = "python_version < '3.7'"}
more-itertools = "*"
pre-commit = "*"
pytest = ">=2.8.0"
pytest-cov = "*"
pytest-xdist = "*"
readme-renderer = "*"
sphinx = "*"
sphinx-rtd-theme = ">=0.4.3"
tox = "*"
twine = "*"
watchdog = {extras = ["watchmedo"], version = "*"}
zipp = {version = "*", markers = "python_version < '3.8'"}

[packages]
injectify = {path = ".", editable = true}
