[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
alabaster = "*"
codecov = "*"
docutils = "*"
detox = "*"
"flake8" = "*"
more-itertools = "*"
pytest = ">=2.8.0"
pytest-cov = "*"
pytest-mock = "*"
pytest-xdist = "*"
readme-renderer = "*"
sphinx = "*"
tox = "*"

[packages]
astunparse = "*"
dill = "*"
